h1,
h2 {
    background-color: aquamarine;
    text-align: center;

}

.list-of-recipes {
    padding: 40px;
    display: block;
    margin: 20px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.recipe-one {
    background: linear-gradient(45deg, orange, red);
}

.recipe-two {
    background: linear-gradient(45deg, pink, aquamarine);   
}

.recipe-three {
    background: linear-gradient(45deg, brown, grey);   
}